exec permissions.cfg

endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"


set mysql_connection_string "server=localhost;uid=root;password=;database=v2rp"
set es_enableCustomData 1

add_ace resource.essentialmode command.sets allow
add_ace resource.essentialmode command.add_principal allow
add_ace resource.essentialmode command.add_ace allow

########################
##   FiveM Resources  ##
########################
start mapmanager
start chat
start spawnmanager
start sessionmanager
start fivem
start hardcap
start rconlog
start scoreboard
start bob74_ipl

########################
##        Es          ##
########################
start mysql-async

start essentialmode
start esplugin_mysql
start es_admin2
start cron
start es_mapper
#start vSync

start NativeUI
start RageUI

#########################
##### Configuration #####
#########################

set es_defaultDatabase 0

########################
##        ESXBASE     ##
########################
start es_extended
start esx_menu_default
start esx_menu_list
start esx_menu_dialog
start instance

########################
##        Esx         ##
########################
start esx_addonaccount
start esx_addoninventory
start esx_society
start esx_billing
start esx_datastore

start esx_license
start esx_identity
start esx_skin
start esx_status
start esx_basicneeds
start esx_optionalneeds
start esx_accessories
start esx_dmvschool
start esx_slots

start esx_RealisticVehicleFailure
start esx_legacyfuel
start esx_vehiclelock
start esx_trafficadjuster
start esx-kr-vehicle-push

start esx_eden_aircraftgarage
start esx_eden_boatgarage
start esx_eden_clotheshop
start esx_eden_garage

start esx_property
start esx_location
start esx_lscustom
start esx_aircraftshop
start esx_boatshop
start esx_vehicleshop

start esx_drugs
start esx_jb_advanced_truck_inventory
start esx_weaponsync
start esx_gps

start esx_celldoors
start esx_jb_realtimejailer
start esx-qalle-jail
start esx_service

start esx_outlawalert
start esx_hifi
start esx_cigarette
start esx_blanchisseur
start esx_customui

########################
##       Non-Esx      ##
########################
start Machina_personalmenu
start speedometer
start skinchanger
start yzak_parametres
start es_carwash
start jsfour-idcard
start 3dme

start seatbelt
start cv_control
start simpletp
start disabledispatch
start new_banking
start dpemotes

start PoliceVehiclesWeaponDeleter
start mythic_progressbar
start VK_interiors
start simpledrift

#########################
##        Radio 	   ##
#########################

ensure mumble-voip
ensure rp-radio
ensure esx_radioperms

########################
##       GCPHONE      ##
########################
start vdk_call #Addon Police, Ambulance et Mécano du GCPHONE
start gcphone #Téléphone
start esx_addons_gcphone #Addon du téléphone

########################
##         Job        ##
########################
start esx_brinks
start esx_taxijob
start esx_realestateagentjob
start esx_ambulancejob
start esx_unicornjob
start esx_vigneronjob
start esx_policejob
start esx_mecanojob
start esx_motoshop
start esx_ammunationjob

#########################
##         GANG        ##
#########################
start esx_bikerjob
start esx_vagosjob
start esx_ballasjob
start esx_familliesjob

########################
##       Serveur      ##
########################
start Rocade
start scriptpnj
start calm-ai
start discordactivity
#start esx_douane (Désactivé en local)
start synn-loadscreen
start esx_discord_bot

########################
##      braquage      ##
########################
start loffe_robbery
start esx_vangelico_robbery

########################
##       magasins     ##
########################
start esx_shops
start esx_barbershop
start esx_tattooshop
start esx_clotheshop

########################
##   armes  & combat  ##
########################
start pvp
start noreticle
start knockout
start mrw_utils
start nonpcdrop
start son_armes

########################
##       plugins      ##
########################
start esx_voice
start vMenu

########################
##       Vehicules    ##
########################
start DodgeEMS
start Captain14_FBI
start Captain14_LSPD
start rs7
start 20denalihd
start 19gt500
start demon
start mers63c
start techart17
start rs6
start ren_lecar
start lexgs350
start a45
start police3
start police4
start polspeedo
start police2
start beachp
start swatinsurgent
start XPERIA38
start rmodmi8lb
start gtr
start hevo
start sr650fly
start audquattros
start 205

start ghispo2
start policeb
start riot

########################
##       mapping      ##
########################
start mappingammunation
start taxi
start lostlscustom
start police

start coke
start weed
start crack
start meth

start familiesint
start ballasint

start parking

start fivem-map-skater
start mapping
start diego'sgarage
start prison-map-addon
start pillbox
start SLBK11_MissionRow

########################
##       Pack car     ##
########################
start ammunationVehicles
start Depaneuse
start unionVehicles

# This allows players to use scripthook-based plugins such as the legacy Lambda Menu.
# Set this to 1 to allow scripthook. Do note that this does _not_ guarantee players won't be able to use external plugins.
sv_scriptHookAllowed 0

# Uncomment this and set a password to enable RCON. Make sure to change the password - it should look like rcon_password "YOURPASSWORD"
#rcon_password ""

# A comma-separated list of tags for your server.
# For example:
# - sets tags "drifting, cars, racing"
# Or:
# - sets tags "roleplay, military, tanks"
sets tags "default"

# A valid locale identifier for your server's primary language.
# For example "en-US", "fr-CA", "nl-NL", "de-DE", "en-GB", "pt-BR"
sets locale "root-AQ"
# please DO replace root-AQ on the line ABOVE with a real language! :)

# Set an optional server info and connecting banner image url.
# Size doesn't matter, any banner sized image will be fine.
#sets banner_detail "https://url.to/image.png"
#sets banner_connecting "https://url.to/image.png"

# Set your server's hostname
sv_hostname "FXServer, but unconfigured"

# Nested configs!
#exec server_internal.cfg

# Loading a server icon (96x96 PNG file)
#load_server_icon myLogo.png

# convars which can be used in scripts
set temp_convar "hey world!"

# Uncomment this line if you do not want your server to be listed in the server browser.
# Do not edit it if you *do* want your server listed.
#sv_master1 ""

# Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_principal identifier.fivem:1 group.admin # add the admin to the group

# Hide player endpoints in external log output.
sv_endpointprivacy true

# enable OneSync with default configuration (required for server-side state awareness)
onesync_enabled false

# Server player slot limit (must be between 1 and 32, unless using OneSync)
sv_maxclients 64

########################
##   CONNECT API      ##
########################
set steam_webApiKey "B72F13F8D7FD1FE5EB6B9524E955E327"
sv_licenseKey rxfjv35rzf2l2u89o7r95jtz1azbw0lw
